In [5]:
#Import Dependecies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as py

In [6]:
#read in csv test headers
samsung_data = pd.read_csv("Resources/samsung_data.csv")
samsung_data.head()

,date,step_count,mood,calories_burned,hours_of_sleep,bool_of_active,weight_kg
0,2017-10-06,5464,200,181,5,0,66
1,2017-10-07,6041,100,197,8,0,66
2,2017-10-08,25,100,0,5,0,66
3,2017-10-09,5461,100,174,4,0,66
4,2017-10-10,6915,200,223,5,500,66

In [7]:
#Rename Columns
samsung_data  = samsung_data.rename(columns={"date" : "Date", "step_count": "Step Count", "mood": "Mood", "calories_burned" : "Calories Burned", "hours_of_sleep" : "Total Sleep(Hours)", "bool_of_active" : "Active", "weight_kg" : "Weight (KGs)"})
print(samsung_data)

          Date  Step Count  Mood  Calories Burned  Total Sleep(Hours)  Active  \
0   2017-10-06        5464   200              181                   5       0
1   2017-10-07        6041   100              197                   8       0
2   2017-10-08          25   100                0                   5       0
3   2017-10-09        5461   100              174                   4       0
4   2017-10-10        6915   200              223                   5     500
..         ...         ...   ...              ...                 ...     ...
91  2018-01-05         133   100                4                   2       0
92  2018-01-06         153   300                0                   8       0
93  2018-01-07         500   200                0                   5     500
94  2018-01-08        2127   200                0                   5       0
95  2018-01-09        2203   300                0                   5     500

    Weight (KGs)
0             66
1             66
2             66
3             66
4             66
..           ...
91            64
92            64
93            64
94            64
95            64

[96 rows x 7 columns]

In [8]:
samsung_data.head()

,Date,Step Count,Mood,Calories Burned,Total Sleep(Hours),Active,Weight (KGs)
0,2017-10-06,5464,200,181,5,0,66
1,2017-10-07,6041,100,197,8,0,66
2,2017-10-08,25,100,0,5,0,66
3,2017-10-09,5461,100,174,4,0,66
4,2017-10-10,6915,200,223,5,500,66